 
<br><br><br>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="css/dashboard.css" rel="stylesheet">


  <div class="d-flex" id="wrapper">
      <!-- Sidebar -->
      <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading">{{this.user}}</div>
          <div class="list-group list-group-flush">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">Account</a><hr>
              <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Add Products</a><hr>
<!--               <a class="nav-link" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">Messages</a><hr>
              <a class="nav-link" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">Settings</a> -->
            </div>
          </div>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">

          <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <i id="menu-toggle" class="fas fa-shopping-cart">Toggle</i>
          </nav>

          <div class="container-fluid">

              <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                     <h1 class="mt-4">Manage Accounts</h1>
                     <!--ERROR MESSAGE -->
                     <div class="col-md-12" id="formMsg"></div>
                     <!--//ERROR MESSAGE -->
                      <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">Goto Add Product</a>

                      <!-- USER DETAILS UPDATE FORM-->
                      
                      <!-- <form action="/update-user" method="post" class="userDetails">
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="text" id="firstname" class="form-control" placeholder="First Name">
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="text" id="lastname" class="form-control" placeholder="Last name">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <select name="" id="" class="form-control" placeholder="Product or Services">
                                  <option>Seller</option>
                                  <option>Craftmann</option>
                                </select>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="tel" id="" class="form-control" placeholder="Whatsapp">
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <select id="states" name="states" class="form-control" placeholder="State"></select> 
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <select id="lgas" name="lgas" class="form-control" placeholder="Local Government"></select>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-12">
                              <div class="form-label-group">
                                <textarea class="form-control" placeholder="About me"></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <input type="submit" class="btn btn-primary btn-block" id="userDetailsBtn" value="Update">
                     </form> -->
                      <!--// USER DETAILS UPDATE FORM-->

                </div>
                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                     <h1 class="mt-4">Add Products</h1>
                     <!-- ADD PRODUCT MESSAGE -->
                     <div class="addProductMsg" id="addProductMsg"></div>
                     <!--// ADD PRODUCT MESSAGE -->

                     <form class="addProduct" method="POST" action="/dashboard">
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="text" name="productName" id="productName" placeholder="Product name" class="form-control" required>
                              </div>
                            </div> 
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <select name="productCategory" id="productCategory" class="form-control" required>
                                  <option value="Automobile">Automobile</option>
                                  <option value="Electronics">Electronics</option>
                                  <option value="Home">Home Appliance</option>
                                  <option value="Office">Office Appliance</option>
                                  <option value="Others">Others</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="tel" class="form-control" name="productPrice" id="productPrice" type="number" placeholder="₦20000" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <select name="productStatus" id="productStatus" class="form-control" placeholder="Product Status" required>
                                  <option value="New">New Product</option>
                                  <option value="Used">Used Product</option>
                                </select>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-12">
                              <div class="form-label-group">
                                <textarea type="text" name="productDescription" id="productDescription" class="form-control" placeholder="Description" required></textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-4">
                              <div class="form-label-group">
                                <a class="btn btn-primary btn-block" id="uploadWidget">Add Image</a>
                              </div>
                            </div>
                            <div class="col-md-8">
                              <div class="form-label-group">
                                <input type="text" name="productImage" id="productImage" class="form-control" > <!-- readonly -->
                              </div>
                            </div>
                          </div>
                        </div>
                        <input type="hidden" name="email" value="{{this.user}}">
                        <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                        <button type="submit" value="Submit" id="addProductBtn" class="btn btn-primary btn-block">Submit</button>
                        <hr>
                     </form>
                    

                     <!-- TABLE -->
                     <div class="table-responsive">
                      <h3>Your products</h3>
                        <table class="table table-striped table-sm">
                          <thead>
                            <tr>
                              <th>#</th>
                              <th>Header</th>
                              <th>Header</th>
                              <th>Header</th>
                              <th>Header</th>
                            </tr>
                          </thead>
                          {{# each products }} 
                          <tbody>
                            {{# each this }}
                            <tr>
                              <td>{{ this.email }}</td>
                              <td>Lorem</td>
                              <td>ipsum</td>
                              <td>dolor</td>
                              <td>sit</td>
                            </tr>
                          {{/each}}
                          </tbody>
                          {{/each}}
                        </table>
                      </div>
                     <!-- //TABLE -->





                </div>
  <!--                 <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                     <h1 class="mt-4">Simple Sidebar333</h1>

                </div>
                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                     <h1 class="mt-4">Simple Sidebar4444</h1>

                </div> -->
              </div>
          </div>
        </div>
        <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->




  <!-- Bootstrap core JavaScript -->
  <script src="js/jquery-3.4.0.min.js"></script>
  <script src="js/bootstrap.min.js"></script>

  <!-- Menu Toggle Script -->
  <script type="text/javascript">
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

<!-- <script type="text/javascript">
  $('#delete-btn').on('click', function(event) {
    alert("");
    event.preventDefault();
    const id = $('#current_id').val();
        $.ajax({
      url: '/delete/'+id,
      method: 'DELETE',
      data: { id: id }
      }).done(function(res) {
        if (res.success) {
        console.log('id from ajax call is', res);
        window.location.reload();
      } else {
        console.log('error...ajax');
        }
      });
  });

  $('.userDetails').on('submit',function(e){
    e.preventDefault();
    $.ajax({
      url: "/update-user",
      method: "post",
      data: $('.userDetails').serialize(),
      beforeSend: function(){
        console.log("Sending....");
        $("#userDetailsBtn").html("Sending.....");
      },
      success: function(res){
        alert('done');
        $("#userDetailsBtn").html("Upload");
        $("#formMsg").html('<div class="alert alert-success"><p>Added Successfully</p></div>')
      },
      error: function(err){
        alert("Not Done")
        $("#formMsg").html('<div class="alert alert-danger"><p>Error Uploading Product</p></div>')
        console.log(err);
        $("#userDetailsBtn").html("Upload");

      }
    })
  })
</script> -->







<script type="text/javascript">
  //ADD NEW PRODUCT TO THE DB
  $('.addProduct').on('submit', function(e){
    e.preventDefault();
    $.ajax({
      url: "/dashboard",
      method: "post",
      data: $('.addProduct').serialize(),
      beforeSend: function(){
        console.log("Sending...");
        $("#addProductBtn").html("Sending...");
      },
      success: function(res){
        alert('done');
        $("#addProductBtn").html("Upload");
        $("#addProductMsg").html('<div class="alert alert-success"><p>Added Successfully</p></div>')
      },
      error: function(err){
        alert("Not Done")
        $("#addProductMsg").html('<div class="alert alert-danger"><p>Error Adding Product</p></div>')
        console.log(err);
        $("#addProductBtn").html("Upload");

      }
    })
    reset();
  })


  function reset() {

    $("#productName").val("");
    $("#productCategory").val("");
    $("#productPrice").val("");
    $("#productStatus").val("");
    $("#productDescription").val("");
    $("#productImage").val("");
    // $("#resetContainer").innerHTML = "";
  }
  
         
</script>



