<!--- household --->
<br>
<div id="suc">
</div>
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Add your goods</h2>
					<ul class="cate">
						<li><a>Include your goods here</a></li>
						<h3>{{this.user}}</h3>
						<li>
							{{#if hasErrors}}
								<div class="alert alert-danger">
									{{# each messages }}
										<p>{{this}}</p>
									{{/each}}
								</div>
        					{{/if}}
						</li>
						<li> 

							<form class="addMyProduct" id="adda" method="POST">
									<input name="userId" id="userId" type="hidden" class="form-control" value="{{this.user}}">
									<input type="text" name="title" id="title" placeholder="Goods name" class="form-control" ><br>
									<select name="category" id="category" class="form-control">
										<option>Automobile</option>
										<option>Body accessory</option>
										<option>Clothings</option>
										<option>Electronics</option>
										<option>Home Appliance</option>
										<option>Office Appliance</option>
										<option>Others</option>
									</select><br>
									<input name="price" id="price" type="number" class="form-control" placeholder="₦20000" ><br>
									<textarea name="description" id="description" class="form-control" placeholder="description" ></textarea><br>
									<!--<input type="file" name="imagePath" id="imagePath" class="form-control"><br>-->
									<input name="_csrf" type="hidden"  value="{{ csrfToken }}">
									{{!-- <button type="submit" id="insertProduct"> Upload </button> --}}
	<button id="changepicture2" style="border: 1px #038bd4 solid; border-radius: 10px; width: 100%" class="btn btn-white">Upload</button>

							</form>
						</li>
					</ul>
				</div>																																												
			</div>

				<div class="col-md-8 products-right" id="displayHere">
				<div class="agile_top_brands_grids">
					{{# each products }}
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							{{# each this }}
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/"><img title=" " alt=" " src="images/hh1.png"></a>		
												<p>{{ this.title }}</p>
												<p>{{ this.description }}</p>
												<p>{{ this.category }}</p>
												<h4>${{ this.price }}</h4>
												<p>{{ this.userId }}</p>
											</div>
											<div style="display:flex;" class="snipcart-details top_brand_home_details">
											  <p>
												{{!-- <button class="todo-list-group" id="delete-btn" data-id={{this._id}} onclick='return confirm("You are going to delete this record. Continue?")'>Delete</button> --}}
												<!-- href='/delete?id=#'{{this._id}} -->
												<input type="text" value={{this._id}} id="current_id">
												<button class="todo-list-group" id="delete-btn" data-id={{this._id}}>Delete</button>

											  </p>
											</div>
										</div>
									</figure>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
					{{/each}}<br>
						<div class="clearfix"> </div>
	
				</div>
				</div>
				<nav class="numbering">
					<ul class="pagination paging">
						<li>
							<a href="#" aria-label="Previous">
								<span aria-hidden="true">&laquo;</span>
							</a>
						</li>
						<li class="active"><a href="#">1<span class="sr-only">(current)</span></a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li>
							<a href="#" aria-label="Next">
							<span aria-hidden="true">&raquo;</span>
							</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>

<script src="https://widget.cloudinary.com/v2.0/global/all.js" type="text/javascript"></script>

<script type="text/javascript">
    document.getElementById("adda").addEventListener("submit", function(e){
		e.preventDefault();
		if($('#price').val() === ""){
			alert("Please fill the price field")
		}else if($('#description').val() === ""){
					alert("Please fill the required fields")
		}else if($('#title').val() === ""){
					alert("Please fill the required fields")
			}else{
        	myWidget.open();
		}
    }, false);
	var imgUrl = "";
    var myWidget = cloudinary.createUploadWidget({
            cloudName: 'akin',
            uploadPreset: 'w75i41lo',
            maxFiles: 1,
            autoMinimize: false
        },
        (error, result) => {
            // console.log(error, result)
            //     console.table(result);
            if (error){
                console.log("Error");
            } else if(result.info.public_id){
                var sess = "dkdkl";
                console.log(`Uploaded: ${result.info.public_id}`);
				imgUrl = "https://res.cloudinary.com/akin/image/upload/v1543417522/"+result.info.public_id;
                $.ajax({
                    url: "/products",
                    data: {
                        image: "https://res.cloudinary.com/akin/image/upload/v1543417522/"+result.info.public_id,
                        userId : $('#userId').val(),
						title : $('#title').val(),
						description : $('#description').val(),
						price : $('#price').val(),
						category : $('#category').val(),

                    },
                    method: "post",
                    success: function(r){
                        console.log("Hell yeah!!! I don dey...")
                        console.log(r);
                    },
                    error: function(e){
                        console.log("Oponu")
                    }
                });
            }
        });


</script>
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script type="text/javascript" >
	$('#delete-btn').on('click', function(event) {
		alert("");
		event.preventDefault();
		const id = $('#current_id').val();
				$.ajax({
			url: '/delete/'+id,
			method: 'DELETE',
			data: { id: id }
			}).done(function(res) {
				if (res.success) {
				console.log('id from ajax call is', res);
				window.location.reload();
			} else {
				console.log('error...ajax');
				}
			});
	});
	
</script>

