
<br><br><br>

{{!-- <!--- household --->
<br>
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Add your goods</h2>
					<ul class="cate">
						<li><a>Include your goods here</a></li>
						<h3>{{this.user}}</h3>
						<li>
							{{#if hasErrors}}
								<div class="alert alert-danger">
									{{# each messages }}
										<p>{{this}}</p>
									{{/each}}
								</div>
        					{{/if}}
						</li>
						<li> 

							<form class="addMyProduct" action="/products" method="post">
									<input name="userId" id="userId" type="hidden" class="form-control" value="{{this.user}}">
									<input type="text" name="title" id="title" placeholder="Goods name" class="form-control" required><br>
									<select name="category" id="category" class="form-control">
										<option>Automobile</option>
										<option>Body accessory</option>
										<option>Clothings</option>
										<option>Electronics</option>
										<option>Home Appliance</option>
										<option>Office Appliance</option>
										<option>Others</option>
									</select><br>
									<input name="price" id="price" type="number" class="form-control" placeholder="₦20000"><br>
									<textarea name="description" id="description" class="form-control" placeholder="description"></textarea><br>
									<!--<input type="file" name="imagePath" id="imagePath" class="form-control"><br>-->
									<input name="_csrf" type="hidden"  value="{{ csrfToken }}">
									<button type="submit" id="insertProduct"> Upload </button>
							</form>
						</li>
					</ul>
				</div>																																												
			</div> --}}



		<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Account Details</h2>
					<ul class="cate">
                        <form class="addMyProduct" action="/products" method="post">
                            {{!-- <span class="input input--ichiro">
                                <input class="input__field input__field--ichiro" type="email" name="userId" id="userId" value={{this.user}} />
								<label class="input__label input__label--ichiro" for="userId">
                                    <span class="input__label-content input__label-content--ichiro">Your Email</span>
                                </label>
                            </span> --}}
							<input class="input__field input__field--ichiro" type="hidden" name="userId" id="userId" value="{{this.user}}" />
                            <span class="input input--ichiro">
                                <input class="input__field input__field--ichiro" type="text" name="title" id="title" placeholder="Goods name"/>
                                <label class="input__label input__label--ichiro" for="title">
                                    <span class="input__label-content input__label-content--ichiro">Product Name</span>
                                </label>
                            </span>
                            <span class="input input--ichiro">
                                	<select name="category" id="category" class="form-control">
										<option>Automobile</option>
										<option>Academic Maetrials</option>
										<option>Body accessories</option>
										<option>Clothings</option>
										<option>Food Stuffs</option>
										<option>Electronics</option>
										<option>Home Appliance</option>
										<option>Office Appliance</option>
										<option>Others</option>
									</select>
                            </span>
                            <span class="input input--ichiro">
                                <input class="input__field input__field--ichiro" name="price" id="price" type="number" placeholder="₦20000" />
                                <label class="input__label input__label--ichiro" for="price">
                                    <span class="input__label-content input__label-content--ichiro">Product Price</span>
                                </label>
                            </span>
							<span class="input input--ichiro">
								{{!-- <textarea name="description" id="description" class="form-control" placeholder="description"></textarea><br> --}}
                                <textarea class="input__field input__field--ichiro" name="description" id="description" placeholder="description"></textarea>
                                <label class="input__label input__label--ichiro" for="description">
                                    <span class="input__label-content input__label-content--ichiro">Product Description</span>
                                </label>
                            </span>
						    {{!-- <span class="input input--ichiro">
                                <input class="input__field input__field--ichiro" type="location" id="location" name="location" />
                                <label class="input__label input__label--ichiro" for="location">
                                    <span class="input__label-content input__label-content--ichiro">Location</span>
                                </label>
                            </span> --}}
							{{!-- <span class="input input--ichiro">
                                <input class="input__field input__field--ichiro" type="file" name="imagePath" id="imagePath" style="outline: none;border: none;padding: 10px 0;font-size: 1em;color: #fff;display: block;width: 100%;background: #3399cc;margin: 1.5em 0 0;" multiple />
                                <label class="input__label input__label--ichiro" for="imagePath">
                                    <span class="input__label-content input__label-content--ichiro">Upload Pictures</span>
                                </label>
                            </span> --}}
                            <span class="input input--ichiro">
								<input name="_csrf" type="hidden"  value="{{ csrfToken }}">
                                {{!-- <input type="submit" id="insertProduct" value="Upload" style="outline: none;border: none;padding: 10px 0;font-size: 1em;color: #fff;display: block;width: 100%;background: #3399cc;margin: 1.5em 0 0;"> --}}
								<button type="submit" id="insertProduct"> Upload </button>
						    </span>
                        </form>
                    </ul>
				</div>																																												
			</div>




			<!--	<div class="col-md-8 products-right" id="displayHere">
				<div class="agile_top_brands_grids">
					{{# each products }}
					<div class="col-md-4 top_brand_left">
						<div class="hover14 column">
							{{# each this }}
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/"><img title=" " alt=" " src="images/hh1.png"></a>		
												<p>{{ this.title }}</p>
												<p>{{ this.description }}</p>
												<p>{{ this.category }}</p>
												<h4>${{ this.price }}</h4>
												<p>{{ this.userId }}</p>
											</div>
											<div style="display:flex;" class="snipcart-details top_brand_home_details">
											  <p>
												{{!-- <button class="todo-list-group" id="delete-btn" data-id={{this._id}} onclick='return confirm("You are going to delete this record. Continue?")'>Delete</button> --}}
												<!-- href='/delete?id=#'{{this._id}} 
												<input type="text" value={{this._id}} id="current_id">
												<button class="todo-list-group" id="delete-btn" data-id={{this._id}}>Delete</button>

											  </p>
											</div>
										</div>
									</figure>
								</div>
							</div>
							{{/each}}
						</div>
					</div>
					{{/each}}<br>
						<div class="clearfix"> </div>
	
				</div>
				</div>
			</div>
			<div class="clearfix"> </div>
		</div>
	</div>-->

				<div class="col-md-8 products-right">
				<div class="agile_top_brands_grids">
					{{# each products }}
					<div class="col-md-4 top_brand_left">
						{{# each this }}
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/"><img title=" " alt=" " src="images/pc1.png"></a>		
												<p>
													<p>{{ this.title }}</p>
												    <h4>${{ this.price }}</h4>
													<p>{{ this.description }}</p>
												    <p>{{ this.category }}</p>
												    <p>{{ this.userId }}</p>
												</p>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="/" method="post">
													<fieldset>
														<input type="submit" name="submit" value="Delete" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div><br>
						{{/each}}
					</div>
					{{/each}}
						<div class="clearfix"> </div>
				</div>
	</div>
	
												
<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script type="text/javascript" >
	$('#delete-btn').on('click', function(event) {
		alert("");
		event.preventDefault();
		const id = $('#current_id').val();
				$.ajax({
			url: '/delete/'+id,
			method: 'DELETE',
			data: { id: id }
			}).done(function(res) {
				if (res.success) {
				console.log('id from ajax call is', res);
				window.location.reload();
			} else {
				console.log('error...ajax');
				}
			});
	});
	$('.addMyProduct').on('submit',function(e){
		e.preventDefault();
		$.ajax({
			url: "/products",
			method: "post",
			data: $('.addMyProduct').serialize(),
			beforeSend: function(){
				console.log("Sending....");
				$("#insertProduct").html("Sending.....");
			},
			success: function(res){
				alert('done');
				$("#insertProduct").html("Upload");
				$("#suc").html('<div class="alert alert-success"><p>Added Successfully</p></div>')
			},
			error: function(err){
				alert("Not Done")
				$("#suc").html('<div class="alert alert-danger"><p>Error Uploading Product</p></div>')
				console.log(err);
				$("#insertProduct").html("Upload");

			}
		})
	})
</script>

