
<br><br><br><br>
<!-- //navigation -->
		<div class="container-fluid">
			<div class="row">
				<!-- col-md-3 -->
				<div class="col-md-3">
					<!-- LIST GROUP -->
					<span>Categories</span>
					<div class="list-group-flush">
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/Automobile">
					    		<i class="fas fa-car mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>
					    		Automobile
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0">
					    	<a href="/stocks/Body-Accessories">
					    		<i class="fas fa-ribbon mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i>Body Accessories
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0">
					    	<a href="/stocks/Clothings">
					    		<i class="fab fa-firstdraft mr-4 grey p-3 white-text rounded-circle " aria-hidden="true"></i>Clothings
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0">
					    	<a href="/stocks/Electronics">
					    		<i class="fas fa-charging-station mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Electronics
					    	</a>
					 	</p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/Foods">
					    		<i class="fas fa-drumstick-bite mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Foods
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/Home-Appliances">
					    		<i class="fas fa-rainbow mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Home Appliances
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0">
					    	<a href="/stocks/Office-Appliances">
					    		<i class="fas fa-magic mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Office Appliances
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/Services">
					    		<i class="fas fa-people-carry mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Services
					    	</a>
					    </p>
					  </div>
					  <div class="list-group-item">
					    <p class="mb-0"> 
					    	<a href="/stocks/Shoes">
					    		<i class="fas fa-th mr-4 mr-4 grey p-3 white-text rounded-circle" aria-hidden="true"></i>Others
					    	</a>
					    </p>
					  </div>

					  <!--// LIST GROUP -->					
					</div>
					</div>
													
				<!-- col-md-8 -->
				<div class="col-md-8">

					      <!--Section: Products v.3-->
      				<section class="text-center mb-4">
			        <!--Grid row-->
			        <div class="row wow fadeIn">
			          <!--Grid column-->
			          {{# each products }}
			          <div class="col-lg-3 col-md-6 mb-4">
			          	{{# each this }}
			            <!--Card-->
			            <div class="card">
			              <!--Card image-->
			              <div class="view overlay">
			                <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/12.jpg" class="card-img-top"
			                  alt="">
			                <a>
			                  <div class="mask rgba-white-slight"></div>
			                </a>
			              </div>
			              <!--Card image-->

			              <!--Card content-->
			              <div class="card-body text-center">
			              	<span class="badge badge-pill danger-color">{{ this.productStatus }}</span>
			                <!--Category & Title-->
			                <a href="" class="grey-text">
			                  <h5>{{ this.productName }}</h5>
			                </a>
			                <h5>
			                  <strong>
			                    <a href="" class="dark-grey-text">
			                      <!-- <span class="badge badge-pill danger-color">NEW</span> -->
			                      {{ this.productCategory }}
			                    </a>
			                  </strong>
			                </h5>
			                <h4 class="font-weight-bold blue-text">
			                  <strong>₦{{ this.productPrice }}</strong>
			                </h4>
			                <a href="/store/{{this.email}}/{{this._id}}">link</a>
			              </div>
			              <!--Card content-->
			            </div>
			            <!--Card-->
			            {{/each}}
				          </div>
				          <!--Grid column-->
				          {{/each}}
				          </div>
				          <!--Fourth column-->
				        <!--Grid row-->
    			   </section>













				</div>
			</div>
		</div>
												<br><br>