<!-- //navigation -->
<!-- breadcrumbs -->
	<div class="breadcrumbs">
		<div class="container">
			<ol class="breadcrumb breadcrumb1 animated wow slideInLeft" data-wow-delay=".5s">
				<li><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span>Home</a></li>
				<li class="active">Gourmet</li>
			</ol>
		</div>
	</div>
<!-- //breadcrumbs -->
<!--- gourmet --->
	<div class="products">
		<div class="container">
			<div class="col-md-4 products-left">
				<div class="categories">
					<h2>Categories</h2>
					<ul class="cate">
						<li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Body Accessories</a></li>
							<ul>
								<li><a href="/stocks/female"><i class="fa fa-arrow-right" aria-hidden="true"></i>Female</a></li>
								<li><a href="/stocks/male"><i class="fa fa-arrow-right" aria-hidden="true"></i>Male</a></li>
							</ul>
						<li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>School Accessories</a></li>
							<ul>
								<li><a href="/stocks/newitems"><i class="fa fa-arrow-right" aria-hidden="true"></i>New Items</a></li>
								<li><a href="/stocks/useditems"><i class="fa fa-arrow-right" aria-hidden="true"></i>Used Items</a></li>
							</ul>
						<li><a href=""><i class="fa fa-arrow-right" aria-hidden="true"></i>Home Appliance</a></li>
							<ul>
								<li><a href="/stocks/babycare"><i class="fa fa-arrow-right" aria-hidden="true"></i>Baby Care</a> </li>
								<li><a href="/stocks/babycare"><i class="fa fa-arrow-right" aria-hidden="true"></i>Baby Care</a> </li>
								<li><a href="/stocks/babycare"><i class="fa fa-arrow-right" aria-hidden="true"></i>Baby Care</a> </li>
								<li><a href="/stocks/babycare"><i class="fa fa-arrow-right" aria-hidden="true"></i>Baby Care</a> </li>
							</ul>
						<li><a href="/stocks/random"><i class="fa fa-arrow-right" aria-hidden="true"></i>Random</a></li>
							<ul>
								<li><a href="/stocks/randomitems"><i class="fa fa-arrow-right" aria-hidden="true"></i>Random Items</a> </li>
							</ul>
					</ul>
				</div>																																												
			</div>
			<div class="col-md-8 products-right">
				<div class="agile_top_brands_grids">
					{{# each products }}
					<div class="col-md-4 top_brand_left">
						{{# each this }}
						<div class="hover14 column">
							<div class="agile_top_brand_left_grid">
								<div class="agile_top_brand_left_grid1">
									<figure>
										<div class="snipcart-item block">
											<div class="snipcart-thumb">
												<a href="/"><img title=" " alt=" " src="images/pc1.png"></a>		
												<p>
													<p>{{ this.title }}</p>
												    <h4>${{ this.price }}</h4>
													<p>{{ this.description }}</p>
												    <p>{{ this.category }}</p>
												    <p>{{ this.userId }}</p>
												</p>
											</div>
											<div class="snipcart-details top_brand_home_details">
												<form action="/" method="post">
													<fieldset>
														<input type="submit" name="submit" value="Purchase" class="button">
													</fieldset>
												</form>
											</div>
										</div>
									</figure>
								</div>
							</div>
						</div><br>
						{{/each}}
					</div>
					{{/each}}
						<div class="clearfix"> </div>
				</div>
	</div>
	
												