






<!--Main layout-->
  <main class="mt-5 pt-4">
    <div class="container dark-grey-text mt-5">
    	          <h3 class="my-4 h3">My Admin Store</h3>
    	          <div>
    	          	
<hr>user
 {{this.user}}
<hr>

           
           

    	          </div>
      <!--Grid row-->
      <div class="row wow fadeIn">
      	{{# each products }}
           {{# each this }}
        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt="">

        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-md-6 mb-4">

          <!--Content-->
          <div class="p-4">

            <div class="mb-3">
              <a href="">
                <span class="badge purple mr-1">{{this.productCategory}}</span>
              </a>
              <a href="">
                <span class="badge blue mr-1">New</span>
              </a>
              <a href="">
                <span class="badge red mr-1">Bestseller</span>
              </a>
            </div>

            <p class="lead">
              <span>${{this.productPrice}}</span>
            </p>

            <p class="lead font-weight-bold">{{this.productName}}</p>

            <p>{{this.productDescription}}

              
           
           
          </p>

            <form class="d-flex justify-content-left">
              <!-- Default input -->
              <!-- <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px"> -->
              <button class="btn btn-primary btn-md my-0 p" type="submit">Contact
                <i class="fas fa-shopping-cart ml-1"></i>
              </button>

            </form>

          </div>
          <!--Content-->

        </div>
        <!--Grid column-->
        {{/each}}{{/each}}
      </div>
      <!--Grid row-->

      <hr>

      <!--Grid row-->
      <div class="row d-flex justify-content-center wow fadeIn">


        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional About Store ({{this.user.email}})</h4>

          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
            voluptates,
            quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum</p>

        </div>
        <!--Grid column-->



        <!--Grid column-->
        <div class="col-md-6 text-center">

          <h4 class="my-4 h4">Additional Products</h4>

          <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p> -->


                <!--Grid row-->
		      <div class="row wow fadeIn">

		        <!--Grid column-->
		        <div class="col-lg-4 col-md-12 mb-4">

		          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-4 col-md-6 mb-4">

		          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">

		        </div>
		        <!--Grid column-->

		        <!--Grid column-->
		        <div class="col-lg-4 col-md-6 mb-4">

		          <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">

		        </div>
		        <!--Grid column-->

		      </div>
		      <!--Grid row-->

		        </div>
		        <!--Grid column-->

		      </div>
		      <!--Grid row-->

		      <hr>

		      <!-- DISQUS COMMENT-->
				      <!--Grid column-->
		        <div class="col-md-12 mb-4">
		        	 <h3>User review</h3>
		        <div id="disqus_thread"></div>
				<script>

				/**
				*  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
				*  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
				/*
				var disqus_config = function () {
				this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
				this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
				};
				*/
				(function() { // DON'T EDIT BELOW THIS LINE
				var d = document, s = d.createElement('script');
				s.src = 'https://whogobuyam.disqus.com/embed.js';
				s.setAttribute('data-timestamp', +new Date());
				(d.head || d.body).appendChild(s);
				})();
				</script>
				<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
		        </div>

    </div>

  </main>
  <!--Main layout-->
  <script id="dsq-count-scr" src="//whogobuyam.disqus.com/count.js" async></script>